.perTweet{
    padding-top:30px;
    padding-left:275px;
    /* margin-left:40%; */
    background-color:black;
    display: block;
    width: auto;
    height: auto;
    border-radius: 10px;
    text-align: center;
    justify-content:center;
    align-items:center
}
/*
.timeline{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    width:500px;;
    margin-left:15%;
    position:relative;
    display:block;
} */
.profpic{
    border-radius: 50%;
    height:50px;
    width:50px;
    position:relative;
    z-index:10;

}

.name{
    text-decoration:none;
    font-size:14px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    top:-30px;
    margin-left:10px;
}


/* express project starter ending has modals guide! */


.blackbar{
    width:100px;
    padding-left:57px;
    font-size:12px;
    justify-content: left;
    align-items:left;
    text-align:left;
}

.wholething{
    display: block;
    width:1100px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    justify-content:center;
    align-items:center;

}
