.birdy{
    color:rgba(242, 242, 242, 0.913);
    /* margin-left:5%; */
    padding:10px;
    margin-bottom:10px;;
    cursor:pointer;
}

.birdy:hover{
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background-color:rgba(79, 80, 82, 0.365);
    padding:10px;
    border-radius:40%;
    cursor:pointer;

}

.underbird{
    margin-bottom:28px;
}

.fix{
    list-style-type:none;
    margin-left:45px;
    padding:0;
    width: 200px;
    background-color:black;
}

.active{
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    padding:12px;
    font-weight:550;
    width:200px;
    font-size:20px
}

.active:hover{
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background-color:rgba(79, 80, 82, 0.365);
    padding:12px;
    border-radius:35%;

}

nav{
    width:200px;
    position:fixed;
    /* display:contents */
    float:left;
    margin-left:3.4%;
    /* background-color:black; */
}

.homebutt{
    color:white;
    top:7px;
    position:relative;
    margin-right:12px;

}
