.inputfirst{
    background-color:rgba(16, 16, 16, 0.978);
    color:white;
    margin-right:5px;
    font-family:Arial, Helvetica, sans-serif;
    height:40px;
    width:200px;
    resize:none;
    position:relative;
}

.errors{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

.birdayagain{
    color:white

}

.move{
    position:relative;
    bottom:20px;
    left:10px;
}
