.createbutton{
    padding:none;
    margin-bottom:3px;
}


.commentform{
    background-color:rgba(16, 16, 16, 0.978);
    color:white;
    width:300px;
    border-bottom:0.5px solid rgba(121, 120, 120, 0.638);
    border-top:0.5px solid rgba(121, 120, 120, 0.638);
    margin-top:5px;
    margin-bottom:5px;
}

.inputfirst{
    margin-top:10px;
    margin-bottom:10px;
    background-color:rgba(79, 78, 78, 0.85);
    color:white;
    border-radius:20px;
    padding:7px;

}

.iconss{
    color:white;
    /* margin-bottom:3px */
}

.errors{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-top:5px;
}
