.tweet-form{
    background-color: black;
    display: block;
    width:518px;
    height: auto;
    margin-left:24.65%;
    padding-top:20px;
    /* border-radius: 10px; */
    text-align: center;
    border-bottom: 0.1px solid rgba(130, 130, 130, 0.565);
    border-right: 0.1px solid rgba(130, 130, 130, 0.565);
    border-left: 0.1px solid rgba(130, 130, 130, 0.565);
    padding-right:40px;
    padding-left:40px;
    padding-bottom:5px;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.taTweet{
    border:none;
    outline:none;
    background-color:black;
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:19.5px;
    color:white;
    padding-top:54px;
    position:relative;
    bottom:20px;
    left:30px;
    padding-bottom:10px;
    width:480px;
    border-bottom:0.1px solid rgba(130, 130, 130, 0.565)
}

.taInput{
    background-color:rgba(95, 91, 91, 0.567);
    padding:6px;
    border-radius:10px;
    margin-bottom:10px;
    font-size:10px;
    margin-right:10px;
    color:white;
    position:relative;
    right:20.5%;
    padding-bottom:5px;
}

.tweetsbutton{
    font-size:16px;
    position:relative;
    left:35%;
}
