.loginform{
    background-color:rgba(95, 91, 91, 0.567);
    display: block;
    /* justify-content: center;
    align-content: center; */
    /* text-align:center; */
    width:220px;
    padding:20px;

}

.inputsforLogin{
    background-color:rgba(95, 91, 91, 0.567);
    padding:6px;
    border-radius:5px;
    margin-bottom:10px;
    font-size:10px;
    margin-right:10px;
    color:rgb(255, 255, 255);
    position:relative;
    /* right:20.5%; */
    padding-bottom:5px;
}

.formback{
    background-color:rgba(95, 91, 91, 0.567);

}

.errors{
    color:white;
    font-family:Arial, Helvetica, sans-serif
}
