.loginform{
    background-color:rgba(16, 16, 16, 0.913);
    display: block;

}

.inputsforLogin{
    background-color:rgba(16, 16, 16, 0.913);
    padding:6px;
    border-radius:5px;
    margin-bottom:10px;
    font-size:10px;
    margin-right:10px;
    color:rgb(114, 112, 112);
    position:relative;
    /* right:20.5%; */
    padding-bottom:5px;
}

.formback{
    background-color:rgba(16, 16, 16, 0.913);

}
