.loginform{
    background-color:rgba(16, 16, 16, 0.978);
    display: block;

}

.inputssign{
    background-color:rgba(16, 16, 16, 0.978);
    padding:6px;
    border:0.1px solid rgba(255, 255, 255, 0.464);
    margin-bottom:10px;
    font-size:12px;
    margin-right:10px;
    color:rgb(255, 255, 255);
    position:relative;
    /* right:20.5%; */
    padding-bottom:5px;
}

.formback{
    background-color:rgba(16, 16, 16, 0.978);

}

label{
    color:white;
    margin-right:5px;
}

.errors{
    color:white
}
