.loginform{
    background-color:rgba(16, 16, 16, 0.978);
    display: block;
    text-align:center;

}

.inputssign{
    background-color:rgba(95, 91, 91, 0.567);
    padding:6px;
    border-radius:5px;
    margin-bottom:10px;
    font-size:10px;
    margin-right:10px;
    color:rgb(255, 255, 255);
    position:relative;
    /* right:20.5%; */
    padding-bottom:5px;
}

.formback{
    background-color:rgba(16, 16, 16, 0.978);

}

label{
    color:white;
    margin-right:5px;
}

.errors{
    color:white;
    padding-bottom:2px
}

.getin{
    display:block;
}
