.inputfirst{
    margin-top:10px;
    margin-bottom:10px;
    background-color:rgba(79, 78, 78, 0.85);
    color:white;
    border-radius:20px;
    padding:7px;

}

.iconss{
    color:white;
}

.editcombutt{
    color:white
}
